<!DOCTYPE html>
<html>
<head>
    <title>Book a Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
  <h1>Book My Services</h1>
</header>

<section class="container">

<h2>Hire Me</h2>

<form method="POST">
  <label>Name</label>
<input type="text" name="name" required>

<label>Email</label>
<input type="email" name="email" required>

<label>Service</label>
<select name="service">
  <option>Website Design</option>
  <option>Full Portfolio Setup</option>
  <option>Business Website</option>
</select>

<button type="submit">Send Booking</button>
</form>

</section>

<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
const paymentForm = document.getElementById('paymentForm');

paymentForm.addEventListener("submit", function(e) {
    e.preventDefault();

    let handler = PaystackPop.setup({
        key: "pk_test_2fedd0c645da32e332e36abc3b79e01f079e6b21",
        email: document.getElementById("email").value,
        amount: document.getElementById("service").value * 100,
        currency: "NGN",
        callback: function(response){
            alert("Payment successful! Ref: " + response.reference);
        }
    });

    handler.openIframe();
});
</script>

</body>
</html>
