{% extends "layout.html" %}

{% block title %}Contact | Umar Muhammad Sani{% endblock %}

{% block content %}

<h2>Hire Me / Contact Me</h2>

<div class="contact-wrapper">

    <form method="POST" class="contact-form">

        <label>Your Name</label>
        <input type="text" name="name" required>

        <label>Email Address</label>
        <input type="email" name="email" required>

        <label>Your Message</label>
        <textarea name="message" rows="5" required></textarea>

        <button type="submit">Send Message</button>

    </form>
<div class="payment-section">

    <h3>Book Me Instantly</h3>
    <p>You can hire me directly using secure payment below.</p>

    <a class="pay-btn paystack"
       href="https://paystack.shop/pay/jyaufv2dmy"
       target="_blank">
       Pay with Paystack
    </a>

    <a class="pay-btn flutterwave"
       href="https://sandbox.flutterwave.com/pay/mk2k0jqk9pmu"
       target="_blank">
       Pay with Flutterwave
    </a>

</div>

    <div class="contact-info">
        <h3>Work With Me</h3>
        <p>I build websites, automation tools, and digital solutions.</p>
        <p>If you need a developer, freelancer, or consultant — contact me.</p>

        <h4>Available for:</h4>
        <ul>
            <li>Website Development</li>
            <li>Automation Scripts</li>
            <li>Freelance Projects</li>
            <li>Consulting</li>
        </ul>

    </div>

</div>

{% endblock %}
